@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: #BBBB;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #212121;
  color: #eeeeee;
}

.container {
  background: #f6f6f6;
  color: #0d7377;
  width: 450px;
  border-radius: 1rem;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.container-chat {
  padding: 1.5rem 2rem;
}
.container-chat h1 {
  color: #0d7377;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #DDDD;
}
.container-chat form {
  margin: 1.7rem 0;
}
.container-chat .link {
  text-align: center;
  margin: 10px 0;
  font-size: 1rem;
  color: #413c69;
}
.container-chat .link a {
  color: #413c69;
}
.container-chat .link a:hover {
  color: #0d7377;
  text-decoration: underline;
}
.container-chat-error {
  color: #721c24;
  background: #f8d7da;
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  padding: 8px 10px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  display: none;
}
.container-chat-details .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.container-chat-details .field label {
  margin-bottom: 2px;
}
.container-chat-details .field input {
  outline: none;
}
.container-chat-details .field i {
  position: relative;
  left: 365px;
  color: #ccc;
  cursor: pointer;
  transform: translateY(-140%);
}
.container-chat-details .field i.active::before {
  content: "";
  color: #333;
}
.container-chat-details .input input {
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  padding: 0 1rem;
  border: 1px solid #CCC;
  border-radius: 5px;
}
.container-chat-details .image input {
  font-size: 17px;
}
.container-chat-details .btn-my input {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background: #212121;
  color: #eeeeee;
  border-radius: 5px;
  cursor: pointer;
}
.container-chat-details .btn-my input:hover {
  transition: 0.4s;
  background: #413c69;
}

.container img {
  object-fit: cover;
  border-radius: 50%;
}
.container-users {
  padding: 1.8rem 2rem;
}
.container-users-chat {
  display: flex;
  align-items: center;
  padding-bottom: 1.4rem;
  justify-content: space-between;
  border-bottom: 2px solid #e6e6e6;
}
.container-users-chat .logout {
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 5px;
  background: #212121;
}
.container-users-chat .user-content {
  display: flex;
}
.container-users-chat .user-content img {
  height: 50px;
  width: 50px;
}
.container-users-chat .user-content-details {
  margin-left: 15px;
}
.container-users-chat .user-content-details span {
  font-size: 18px;
  font-weight: bold;
}
.container-users-search {
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.container-users-search input {
  position: absolute;
  height: 42px;
  width: calc( 100% - 50px);
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.container-users-search input.active {
  opacity: 1;
  pointer-events: auto;
}
.container-users-search span {
  font-size: 18px;
}
.container-users-search button {
  width: 47px;
  height: 42px;
  border: none;
  outline: none;
  color: #212121;
  background: #f6f6f6;
  cursor: pointer;
  font-size: 17px;
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease;
}
.container-users-search button.active {
  color: #eeeeee;
  background: #212121;
}
.container-users-search button.active i::before {
  content: "";
}

.users-list {
  max-height: 350px;
  overflow-y: auto;
}
.users-list::-webkit-scrollbar {
  width: 0px;
}
.users-list-status-dot {
  font-size: 12px;
  color: #21bf73;
}
.users-list-status-dot.offiline {
  font-size: 12px;
  color: #413c69;
}
.users-list a {
  display: flex;
  align-items: center;
  padding-bottom: 1.4rem;
  justify-content: space-between;
  border-bottom: 2px solid #e6e6e6;
  padding-right: 15px;
  margin-bottom: 15px;
  page-break-after: 10px;
  border-bottom-color: #F1f1f1;
}
.users-list a:last-child {
  border: none;
  margin-bottom: 0px;
}
.users-list-content {
  display: flex;
  align-items: center;
}
.users-list-content img {
  width: 40px;
  height: 40px;
}
.users-list-content-details {
  margin-left: 15px;
  color: #0d7377;
}
.users-list-content-details span {
  color: #0d7377;
  font-size: 18px;
  font-weight: 500;
}
.users-list-content-details p {
  color: #67676a;
}

.container-chats-chat {
  display: flex;
  align-items: center;
  padding: 18px 30px;
}
.container-chats-chat img {
  height: 45px;
  width: 45px;
  margin: 0 15px;
}
.container-chats-chat-back-icon {
  font-size: 18px;
  color: #0d7377;
}
.container-chats-chat-details span {
  font-size: 17px;
  font-weight: bold;
}

.chat-box {
  height: 500px;
  overflow-y: auto;
  background: #e7e6e6;
  padding: 10px 30px 20px 30px;
  box-shadow: inset 0 32px 32px -32px rgba(0, 0, 0, 0.05), inset 0 -32px 32px -32px rgba(0, 0, 0, 0.05);
}
.chat-box::-webkit-scrollbar {
  width: 0px;
}
.chat-box .chat {
  margin: 15px 0;
}
.chat-box p {
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.08), 0 16px 16px -16px rgba(0, 0, 0, 0.1);
}
.chat-box .outgoing {
  display: flex;
}
.chat-box .outgoing .chat-box-details {
  margin-left: auto;
  max-width: calc( 100% - 130px);
}
.chat-box .outgoing .chat-box-details p {
  background: #333;
  color: #eeeeee;
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming {
  display: flex;
  align-items: flex-end;
}
.chat-box .incoming img {
  height: 35px;
  width: 35px;
}
.chat-box .incoming .chat-box-details {
  margin-left: 10px;
  margin-right: auto;
  max-width: calc( 100% - 130px);
}
.chat-box .incoming .chat-box-details p {
  color: #333;
  background: #FFF;
  border-radius: 18px 18px 18px 0;
}

.typing-area {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area input {
  height: 45px;
  width: calc( 100% - 58px);
  font-size: 17px;
  border: 1px solid #ccc;
  padding: 0 13px;
  border-radius: 5px;
  outline: none;
}
.typing-area button {
  width: 55px;
  border: none;
  outline: none;
  background: #333;
  color: #eeeeee;
  font-size: 19px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
